<!DOCTYPE html>
<html>
<head>
  <title>This is about page</title>
</head>

<body>
  <%= link_to'Home', root_path %>
  <h1> This is about Dalian Soccer</h1>
  <p>
  Dalian was very famous for soccer in the history. A lot of great players are from Dalian, and people here love their home team.
  </p>

</body>
</html>
