<!DOCTYPE html>
<html>
<head>
    <title>Dalian Soccer</title>
    <style>
    .team {
        float: left;
        margin: 5px;
        padding: 15px;
        width: 300px;
        height: 300px;
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <%= link_to 'Alpha Blog', articles_path %> | <%= link_to'About', about_path%>
    <h1>Dalian Soccer Team</h1>
    <p>The following teams are currently staying in Dalian</p>
    <div class="team">
        <h2>Dalian Yifang</h2>
        <p>Dalian Yifang is a team with a very long history,
        currently owned by Yifang Group</p>
    </div>

    <div class="team">
        <h2>Dalian ChaoYue</h2>
        <p>Dalian ChaoYue is a new team, only has been founded for two years.
        </p>
    </div>

    <div class="team">
        <h2>Dalian LongJunFeng</h2>
        <p>Dalian LongJuan Feng is a team just founded,
        currently it is still in a lower level league</p>
    </div>
</body>
</html>
